.formContainer{
    display: grid;
    grid-template-columns: 70% 20%;
    grid-gap: 5%;
    grid-template-areas: "form massage";
    .formArea{
        grid-area: form
    }
    .formMassageArea{
        grid-area: massage
    }
    .formMessages{
        grid-area: form;
        padding: 5px;
        li{
            font-size: 0.75em;
        }
    }
}